Repository ncolesummers/dip, changes with the labels that .github/labeler.yml gives for each.
All labels: component:events, component:schemas, component:observability, component:ingestion, component:classifier, component:routing, component:response, ci/cd, docker, kubernetes, testing, documentation, configuration, scripts, dependencies

.github/labeler.yml:

# Configuration for GitHub labeler action
# This file defines which labels to apply based on file paths

# Component labels
component:events:
  - changed-files:
    - any-glob-to-any-file:
      - shared/events/**/*
      - shared/events/*

component:schemas:
  - changed-files:
    - any-glob-to-any-file:
      - shared/schemas/**/*
      - shared/schemas/*

component:observability:
  - changed-files:
    - any-glob-to-any-file:
      - shared/observability/**/*
      - shared/observability/*

component:ingestion:
  - changed-files:
    - any-glob-to-any-file:
      - services/ingestion/**/*
      - services/ingestion/*

component:classifier:
  - changed-files:
    - any-glob-to-any-file:
      - services/classifier/**/*
      - services/classifier/*

component:routing:
  - changed-files:
    - any-glob-to-any-file:
      - services/routing/**/*
      - services/routing/*

component:response:
  - changed-files:
    - any-glob-to-any-file:
      - services/response/**/*
      - services/response/*

# Infrastructure labels
ci/cd:
  - changed-files:
    - any-glob-to-any-file:
      - .github/**/*
      - .github/*

docker:
  - changed-files:
    - any-glob-to-any-file:
      - docker/**/*
      - docker/*
      - '**/Dockerfile*'
      - docker-compose*.yml
      - .dockerignore

kubernetes:
  - changed-files:
    - any-glob-to-any-file:
      - k8s/**/*
      - k8s/*
      - '**/*.yaml'
      - '**/*.yml'

# Code type labels
testing:
  - changed-files:
    - any-glob-to-any-file:
      - tests/**/*
      - tests/*
      - '**/*.test.ts'
      - '**/*.bench.ts'

documentation:
  - changed-files:
    - any-glob-to-any-file:
      - docs/**/*
      - docs/*
      - '**/*.md'
      - README.md
      - CONTRIBUTING.md
      - CODE_OF_CONDUCT.md

configuration:
  - changed-files:
    - any-glob-to-any-file:
      - deno.json
      - deno.lock
      - tsconfig.json
      - .env*
      - config/**/*

scripts:
  - changed-files:
    - any-glob-to-any-file:
      - scripts/**/*
      - scripts/*

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - deno.json
      - deno.lock
      - import_map.json

feat(events): add comprehensive event schemas and validation
  shared/events/examples.ts
  shared/events/mod.ts
  shared/events/schemas.ts
  shared/events/validation-tests.ts
Labels: component:events

docs: add architecture decisions and event best practices
  docs/architecture/decisions/001-record-architecture-decisions.md
  docs/architecture/decisions/002-use-deno-runtime.md
  docs/architecture/decisions/003-use-prometheus-for-metrics.md
  docs/architecture/decisions/004-use-grafana-for-visualization.md
  docs/architecture/decisions/005-use-claude-code-for-development.md
  docs/architecture/decisions/006-use-devcontainers.md
  docs/architecture/decisions/007-adopt-event-driven-architecture.md
  docs/architecture/decisions/008-use-cloudevents-specification.md
  docs/architecture/decisions/009-use-kafka-for-messaging.md
  docs/architecture/decisions/010-use-zod-for-validation.md
  docs/architecture/decisions/011-use-hono-web-framework.md
  docs/architecture/decisions/012-adopt-microservices-pattern.md
  docs/architecture/decisions/013-implement-baseservice-abstraction.md
  docs/architecture/decisions/014-use-structured-json-logging.md
  docs/architecture/decisions/README.md
  docs/architecture/decisions/adr-template.md
  shared/events/best-practices.md
Labels: component:events, documentation

chore(agents): add git workflow expert agent and update settings
  .claude/agents/git-workflow-expert.md
  .claude/settings.local.json
Labels: documentation

fix: resolve GitHub Actions workflow failures
  .github/workflows/deploy.yml
  .github/workflows/integration-tests.yml
Labels: ci/cd, kubernetes

fix: resolve GitHub Actions workflow failures and formatting issues
  .claude/settings.local.json
  .github/workflows/deploy.yml
  deno.json
  docs/architecture/decisions/001-record-architecture-decisions.md
  docs/architecture/decisions/002-use-deno-runtime.md
  docs/architecture/decisions/003-use-prometheus-for-metrics.md
  docs/architecture/decisions/004-use-grafana-for-visualization.md
  docs/architecture/decisions/005-use-claude-code-for-development.md
  docs/architecture/decisions/006-use-devcontainers.md
  docs/architecture/decisions/007-adopt-event-driven-architecture.md
  docs/architecture/decisions/008-use-cloudevents-specification.md
  docs/architecture/decisions/009-use-kafka-for-messaging.md
  docs/architecture/decisions/010-use-zod-for-validation.md
  docs/architecture/decisions/011-use-hono-web-framework.md
  docs/architecture/decisions/012-adopt-microservices-pattern.md
  docs/architecture/decisions/013-implement-baseservice-abstraction.md
  docs/architecture/decisions/014-use-structured-json-logging.md
  docs/architecture/decisions/README.md
  docs/architecture/decisions/adr-template.md
  shared/events/README.md
  shared/events/best-practices.md
  shared/events/enhanced-base.ts
  shared/events/examples.ts
  shared/events/mod.ts
  shared/events/schemas.ts
  shared/events/test-helpers.ts
  shared/events/utilities.ts
  shared/events/validation-tests.ts
Labels: component:events, ci/cd, kubernetes, documentation, configuration, dependencies

feat(agents): add new expert agents for Docker Compose, Kafka, performance benchmarking, and security compliance
  .claude/agents/docker-compose-expert.md
  .claude/agents/kafka-specialist.md
  .claude/agents/performance-benchmarking-expert.md
  .claude/agents/security-compliance-auditor.md
Labels: documentation

feat: add git hooks installation and testing scripts
  .githooks/commit-msg.ts
  .githooks/install.ts
  .githooks/pre-commit.ts
  .githooks/test-hooks.ts
  deno.json
Labels: configuration, dependencies
